@{
    ViewData["Title"] = "Login/Register Page";
}
<style>
  .jumbotron{
    background-image: url("img/dressflowers.png");
    background-size: cover;
    height: 600px;
    

  }
  h1{
    text-align: center;
    font-family:'Courgette';
  }
  label{
    color: black;
  }
  



</style>

<div class="jumbotron bg-dark text-white">
    <h1>theweddingplanner</h1>
    <div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-center">
      <partial name="LoginPartial" />
    </div>
    <div class="col-sm-6 d-flex justify-content-center">
      
      <partial name="RegistrationPartial" />

    </div>
  </div>
</div>
  







